@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100..900&display=swap');

:root{
    --blue: #535971;
    --red: #FF5374;
    --gray: #EFEFEF;
    --dark-gray: #C1BCCC;
    --white: #fff;
    --border: #E6E6F0;
    --input: #FAFAFC;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--gray);
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}
.retangulo{
    height: 436px;
    width: 100%;
    background: var(--blue);
}
header{
    color: var(--white);
    width: 750px;
    margin: 58px auto;
    margin-top: -296px;
    text-align: left;
}
header h1 {
    text-transform: uppercase;
    margin-bottom: 18px;
}
header p{
    width: 250px;
    font-weight: 300;
}
main{
    margin: 0 auto;
    width: 750px;
    height: 1200px;
}
form{
    padding: 32px 64px;
    background: var(--white);
    border-radius: 10px;
}
form h2 {
    font-size: 20px;
    font-weight: 700;
    color: var(--blue);
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--gray);
    margin: 32px 0px;
}
form h3 {
    font-size: 16px;
    font-weight: 700;
    color: var(--blue);
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 10px;
}
form input {
    height: 56px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--border);
    background: var(--input);
    margin-top: 8px;
    padding: 0px 10px;
}
form label{
    font-size: 14px;
}
form label span{
    margin-left: 10px;
    color: var(--dark-gray)
}
section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
section .mentoria{
    display: flex;
    gap: 16px;
}
section .info_nome{
    display: flex;
    justify-content: space-between;
    gap: 22px;
}
section .info_nome label{
    display: flex;
    flex-direction: column;
    width: 50%;
}
section .data{
    margin-right: 22px;
}
main div.button {
    width: 750px;
    height: 160px;
    padding: 52px 70px;
    background: var(--blue);
    border-radius: 0px 0px 10px 10px;
}
main div.button button{
    padding: 14px 270px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;
    background-color: var(--red);
}