*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hue: 330;
    --app-bg-color: hsl(var(--hue), 5%, 7%);
    --text-color: hsl(var(--hue), 40%, 98%);
    --primary-color: hsl(var(--hue), 100%, 63%);
    --primary-bg-color: hsl(var(--hue), 0%, 14%);
    --button-secondary: hsl(var(--hue), 40%, 98%);
    --button-bg-color: hsl(var(--hue), 100%, 15%);

    font-size: clamp(40%, 1% + 2vw, 62,5%);
}

html.light {
    --app-bg-color: hsl(var(--hue), 40%, 98%);
    --primary-color: hsl(var(--hue), 100%, 50%);
    --primary-bg-color: hsl(var(--hue), 50%, 70%);
    --text-color: hsl(var(--hue), 5%, 7%);
    --button-secondary: var(--text-color);
    --button-bg-color: hsl(var(--hue), 100%, 63%);
}

html.light .ph-sun,
html:not(.light) .ph-moon {
    display: none;
}

#toggle-mode {
    position: absolute;
    right: 3.2rem;
    top: 3.2rem;
    font-size: 3.2rem;
    line-height: 0;
    color: var(--text-color);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

body {
    background-color: var(--app-bg-color);
    color: var(--text-color);
    display: grid;
    height: 100vh;
    place-content: center;
}

#app {
    display: grid;
    justify-items: center;
    /* align-items: center; */
    grid-gap: 0 5rem;
    grid-auto-columns: auto; 
    grid-template-columns: auto auto; 
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "m t"
    "m t"
    "m o"; 
}
.flex {
    display: flex;
}

.flex-column{
    flex-direction: column;
}

#timer {
    font-size: 5.6rem;
    font-weight: bold;
    font-family: sans-serif;
}

#controls {
    margin-top: 1.6rem;
    padding: 2rem;
    gap: 1.6rem;
    background-color: var(--primary-bg-color);
    border-radius: 1rem;
}

button {
    background-color: transparent;
    border: 0;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 2.6rem;
}

.main{
    grid-area: m;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondary {
    color: var(--button-secondary);
}

.tomatos{
    grid-area: t;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.options {
    grid-area: o;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}

.options button {
    background-color: var(--primary-bg-color);
    color: var(--button-secondary);
    font-size: 1.5rem;
    padding: .5rem;
    border-radius: .5rem;
}

.options button:hover {
    background-color: var(--button-bg-color);
}

/* controls */
.running .ph-play-circle,
.running .ph-timer,
.music-on .ph-speaker-none,
.options-on .options,
html:not(.five-minutes) #five-minutes,
html:not(.ten-minutes) #ten-minutes,
html:not(.fifteen-minutes) #fifteen-minutes,
html:not(.twenty-minutes) #twenty-minutes,
html:not(.twenty-five-minutes) #twenty-five-minutes,
html:not(.running) .ph-pause-circle,
html:not(.running) .ph-stop-circle,
html:not(.music-on) .ph-speaker-high{
    display: none;
}