@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --azul: #3F3D56;
    --rosa: #EE24FF;
    --cinza-escuro: #828282;
    --cinza-claro: #ECEFF2; 
    font-size: 15px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--cinza-escuro);
}

.main {
    width: 36rem;
    text-align: center;
    margin: 4.3rem auto;
}


.main h1 { 
    font-family: 'Dosis', sans-serif;
    color: var(--azul);
    font-size: 2rem;
    margin-top: 2.1rem;
    margin-bottom: 1rem;
}

strong {
    font-weight: bold;
}

span.pink{ 
    color: var(--rosa);
}

span.blue{ 
    color: var(--azul);
}

.line {
    width: 37.9rem;
    height: 0;
    margin: 0 auto 0.5rem;
    border: 1px solid var(--cinza-claro);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    gap: 2.8rem;
    color: var(--azul);
}

ul li {
    font-weight: bold;
    list-style: none;
}